TheClient/Service References/FaultyService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FaultyService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="netTcpBinding_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/TheContracts" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFaultyService_Sum_InputMessage">
    <wsdl:part name="parameters" element="tns:Sum" />
  </wsdl:message>
  <wsdl:message name="IFaultyService_Sum_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumResponse" />
  </wsdl:message>
  <wsdl:message name="IFaultyService_SumWithFault_InputMessage">
    <wsdl:part name="parameters" element="tns:SumWithFault" />
  </wsdl:message>
  <wsdl:message name="IFaultyService_SumWithFault_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumWithFaultResponse" />
  </wsdl:message>
  <wsdl:message name="IFaultyService_SumWithFault_UnhandledErrorFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/TheContracts" name="detail" element="q1:UnhandledError" />
  </wsdl:message>
  <wsdl:portType name="IFaultyService">
    <wsdl:operation name="Sum">
      <wsdl:input wsaw:Action="http://tempuri.org/IFaultyService/Sum" message="tns:IFaultyService_Sum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFaultyService/SumResponse" message="tns:IFaultyService_Sum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SumWithFault">
      <wsdl:input wsaw:Action="http://tempuri.org/IFaultyService/SumWithFault" message="tns:IFaultyService_SumWithFault_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFaultyService/SumWithFaultResponse" message="tns:IFaultyService_SumWithFault_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IFaultyService/SumWithFaultUnhandledErrorFault" name="UnhandledErrorFault" message="tns:IFaultyService_SumWithFault_UnhandledErrorFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="httpBinding" type="tns:IFaultyService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Sum">
      <soap:operation soapAction="http://tempuri.org/IFaultyService/Sum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SumWithFault">
      <soap:operation soapAction="http://tempuri.org/IFaultyService/SumWithFault" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UnhandledErrorFault">
        <soap:fault use="literal" name="UnhandledErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="netTcpBinding" type="tns:IFaultyService">
    <wsp:PolicyReference URI="#netTcpBinding_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Sum">
      <soap12:operation soapAction="http://tempuri.org/IFaultyService/Sum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SumWithFault">
      <soap12:operation soapAction="http://tempuri.org/IFaultyService/SumWithFault" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="UnhandledErrorFault">
        <soap12:fault use="literal" name="UnhandledErrorFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FaultyService">
    <wsdl:port name="httpBinding" binding="tns:httpBinding">
      <soap:address location="http://localhost:42001/TheService/FaultyService/" />
    </wsdl:port>
    <wsdl:port name="netTcpBinding" binding="tns:netTcpBinding">
      <soap12:address location="net.tcp://localhost:42002/TheService/FaultyService/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:42002/TheService/FaultyService/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>okosmakov@universe.dart.spb</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>